@import "tailwindcss";

@theme {
  --font-sans: "Inter", "system-ui", "sans-serif";

  --color-background: #f8fafc;
  --color-surface: #ffffff;

  --color-primary: #0f172a;
  --color-primary-foreground: #ffffff;

  --color-accent: #3b82f6;
  --color-accent-success: #22c55e;
  --color-accent-error: #ef4444;

  --shadow-premium: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
  --shadow-modal: 0 25px 50px -12px rgba(0, 0, 0, 0.1);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-slate-900);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full hover:bg-slate-300 transition-colors;
}